{% extends 'base.html' %}

{% block start %}

<div class="Container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Add Recipe</h1>
        <hr>
        <div class="mb-3">
          <label for="recipeName" class="form-label">Recipe name</label>
          <input type="text" class="form-control" name="recipe_name">
        </div>
        <div class="mb-3">
          <label for="recipeDescription"  name="description"  class="form-label">Recipe description</label>
          <input type="text" class="form-control" name="description">
        </div>
        <div class="mb-3">
            <label for="recipeImage" class="form-label">Recipe Image</label>
          <input type="file" name="image" class="form-control" id="recipeImage">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Recipe</th>
            <th scope="col">description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for recipe in recipes %}
            <th scope="row">{{forloop.counter}}</th>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.description}}</td>
            <td>
                <img src="/media/{{recipe.image}}" style="height: 100px;"></td>
                <td>
                    <a href="/recipes/{{recipe.id}}" class=" btn btn-danger">Delete</a>
                </td>
            
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>

{% endblock %}